<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <meta charset="UTF-8"/>
  <title>Home Page</title>
</head>

<body>

<div class="auth-field">
  <h1 th:text="${flash.title}"></h1>
  <p th:text="${flash.content}"></p>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <p th:text="${flash.exInfo}"></p>
  </div>
  <div sec:authorize="hasRole('ROLE_USER')">
    <p>无更多信息</p>
  </div>
</div>

</body>

<script src="../../static/custom/js/home/spec.js"
        th:src="@{/custom/js/home/custom.js}"></script>

</html>