<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="common/fragments :: meta"></div>
  <!-- load css -->
  <div th:replace="common/fragments :: css"></div>

  <title>employee - view</title>
</head>

<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped" id="employee-table">
        <thead>
        <tr>
          <th><input type="checkbox"
                     name="roleIds"
                     id="select_all"/>
          </th>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>SN</th>
          <th>Department</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
          <td>
            <input name="ids" class="checkbox_select"/>
          </td>
          <td th:text="employee.id"></td>
          <td th:text="employee.firstName"></td>
          <td th:text="employee.lastName"></td>
          <td th:text="employee.SN"></td>
          <td th:text="employee.department.name"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div th:replace="common/fragments :: copy-right"></div>

</body>

<!-- load js -->
<div th:replace="common/fragments :: js"></div>
<div th:replace="common/dataTable :: js"></div>
<script th:src="@{/custom/js/employee/table.js}"></script>

</html>